.title {
  color: white;
  font-size: 25px;
}
.image {
  opacity: 0.4;
  height: 150px;
  width: 100%;
  object-fit: cover;
}
.add {
  color: white;
}
.new {
  width: 20%;
}
.card {
  height: 145px;
  width: 92%;
  object-fit: cover;
}

.icon {
  color: rgb(255, 255, 255);
  width: 200px;
}

.label {
  display: flex;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 15px;
}
